name: ci
on:
  pull_request:
    paths:
      - 'scripts/**'
      - '!**.md'
jobs:
  setup-build:
    runs-on: ubuntu-latest
    steps:
      - run: sleep 20
  build:
    runs-on: ubuntu-latest
    needs: [setup-build]
    steps:
      - run: sleep 50
      - run: ' echo "Build succeeded" '
